body {
  padding-top: 5rem;
  background: $white;
}
.main-body {
  padding: 3rem 1.5rem;
  text-align: center;
}
.jumbotron{
	background: $light-grey;
}
.navbar{
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.10);
}

.sign-up{
  padding: 0 40px;
  .sign-up-form{
    margin-top: 30px;
  }
}

//--> Dashboard Style start

/* Sidebar navigation */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  padding-left: 0;
  padding-right: 0;
  .nav{
    margin-bottom: 20px;
    margin-top: 20px;
    .nav-item{
      width: 100%;
      .nav-link{
        border-radius: 0;
        padding: 15px 20px;
      }
    }
  }
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} // --> End Dashboard style